
    <div class="block">
        Status: {{ status }}
    </div>

    <div class="block">
        <pre style="white-space: pre;">{{ order|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</pre>
    </div>
