<div class="cuenta-box">
	<div class="bucketgifts">
		<a href="#carrito" rel="modal:open">
			<img class="bucketazul" src="{{asset('img/bucketazul.png')}}" width="50"/>
			<span class="bucket-number">5</span>
		</a>
	</div>
	<div class="idioma-moneda"><span class="bolder">Español</span> | <a href="index-en.php">English</a></div>
	<div class="datos">Edmond - <a href="mi-cuenta.php">Mi cuenta</a></div>
</div>