<div class="cuenta-box">
	<div class="bucketgifts">
		<a href="#carrito" rel="modal:open">
			<img class="bucketazul" src="{{asset('img/bucketazul.png')}}" width="50"/>
			<span class="bucket-number">5</span>
		</a>
	</div>
	<div class="idioma-moneda">
		<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">Español</a> | <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">English</a>
	</div>
	<div class="datos">Edmond - <a href="{{ url('pg_party_miCuenta') }}">{% trans %}Mi cuenta{% endtrans %}</a></div>
</div>