<footer id="footer">
    <span class="bold">party</span>gift &copy; {% trans %}Todos los derechos reservados{% endtrans %} - <a href="">{% trans %}Aviso de privacidad{% endtrans %}</a> <div class="facebook-like"><div class="fb-like" data-href="https://www.facebook.com/NewlyWishes" data-width="300" data-layout="button_count" data-colorscheme="dark" data-action="like" data-show-faces="false" data-share="true"></div></div>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=164094660959&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>