<div id="errores" class="modal" style="display:none;">
    <h2>Error</h2> 
    <br>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="row"><br />
            <div class="alert alert-info">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
</div>