<div id="carrito" class="modal" style="display:none;">
    <h2>Checkout</h2> 
    <div class="bucketgifts">
        <img class="bucketazul" src="{{asset('img/bucketazul.png')}}" width="50"/>
        <span class="bucket-number simpleCart_quantity"></span>
    </div>
    <br/><br/>
    <div class="simpleCart_items"></div>
    <div class="row" style="margin-bottom: 12px;margin-right: 0px;text-align: right;">
        <h3>{% trans %}Subtotal{% endtrans %}</h3>
        <!-- grand total, including tax and shipping (ex. $28.49) -->
        <div class="simpleCart_total"></div>
        <h3>{% trans %}Comisiones{% endtrans %}</h3>
        <div class="simpleCart_shipping"></div>
        <h2>{% trans %}Total{% endtrans %}</h2>
        <div class="simpleCart_grandTotal"></div>
        <a href="javascript:;" class="btn simpleCart_checkout">
            <button type="button" class="botonPagar">{% trans %}Pagar{% endtrans %}</button>
        </a>
    </div>

</div>