
	{% if loop.first %}
		<div id="errores" class="modal" style="display:none; width:300px;">		    
	        <div class="row"><br />
	            <div class="alert alert-info" style="color:white;">
			        {{ flashMessagePrueba }}
	            </div>
	        </div>
		</div>
	{% endif %}
{% endfor %}

{% if formSolicitudRetiro is defined %}
	{% if not formSolicitudRetiro.vars.valid %}

		<div id="errores2" class="modal" style="display:none; width:300px;">		    
		    <div class="row"><br />
		        <div class="alert alert-info" style="color:white;">
			        {% trans %}El valor requerido en el retiro es incorrecto{% endtrans %}:
				    {{ form_errors(formSolicitudRetiro.amount) }}
		        </div>
		    </div>
		</div>
		å
	{% endif %}
{% endif %}