<div id="seleccion" class="modal" style="display:none;">
    <h2>Elige un usuario</h2>
    <div class="row" style="margin-bottom: 12px;margin-right: 0px;text-align: right; color:white; max-width:300px; margin-top:30px;">
        No puedes comprar gifts de dos personas diferentes, por favor elige la persona a la que le regalarás primero.
        <br>
        <div style="text-align:center;">
            <button type="button" class="botonPagar" id="seleccion1"></button>
            <button type="button" class="botonPagar" id="seleccion2"></button>
        </div>
    </div>
</div>