<div id="carrito" class="modal" style="display:none;">
    <h2>Checkout</h2> 
    <div class="bucketgifts">
        <img class="bucketazul" src="{{asset('img/bucketazul.png')}}" width="50"/>
        <span class="bucket-number">5</span>
    </div>
    <br/><br/>
    <table class="carritoEd" cellpadding="0" cellspacing="0">
        <tr class="carritoP">
            <td>Gift</td>
            <td>Descripción</td>
            <td>Evento</td>
            <td></td>
            <td>Cantidad</td>
            <td></td>
            <td>Subtotal</td>
            <td></td>
        </tr>
        <tr class="carritoEspacio"></tr>
        <tr class="carritoVaciado">
            <td>Refrescos</td>
            <td>Coca y manzana</td>
            <td>Megapeda</td>
            <td class="carritoSigno"><a class="carritoLink" href="">-</a></td>
            <td class="carritoCantidad">5</td>
            <td class="carritoSigno"><a class="carritoLink" href="">+</a></td>
            <td>$3,000.00 MXN</td>
            <td class="carritoRemover"><a class="carritoLink" href="">Remover</a></td>
        </tr>
        <tr class="carritoEspacio"></tr>
        <tr class="carritoVaciado">
            <td>Refrescos</td>
            <td>Coca y manzana</td>
            <td>Megapeda</td>
            <td class="carritoSigno"><a class="carritoLink" href="">-</a></td>
            <td class="carritoCantidad">5</td>
            <td class="carritoSigno"><a class="carritoLink" href="">+</a></td>
            <td>$3,000.00 MXN</td>
            <td class="carritoRemover"><a class="carritoLink" href="">Remover</a></td>
        </tr>
    </table>
</div>