<body style="padding: 0; margin: 0; background-color:black; font-family: 'Arial';">
    <div style="font-family: sans-serif;">
        <div style="padding: 16px;">
            <div style="width:38%; display: inline-block; line-height: 27px;">
                <span style="font-size: 23px; color:#A262A7; font-family: serif; text-align: right; width: 100%; margin-top: 48px; margin-bottom: 43px;">party<span style="color:#00B0F0;">message</span></span>
                <br>
                <span style="color:#00B0F0; font-size:14px;">{{today()}}</span>
            </div>
            <div style="width:59%; display: inline-block;">
                <img src="{{app.request.getSchemeAndHttpHost() ~ asset('img/partygift-logo.png')}}" style="width:90%">
            </div>
            <div>
                <span style="color:rgb(79, 79, 79); font-size:19px;">{% block subject %}{% endblock %}</span>
                <p style="text-align: left;font-size: 15px; color:white; margin-top: 62px;">
                    {% block contenido %}{% endblock %}
                </p>
                <div style="font-size: 26px; color:#A262A7; font-family: serif; text-align: right; width: 100%; margin-top: 48px; margin-bottom: 43px;">the party<span style="color:#00B0F0;">team</span></div>
            </div>
        </div>
        <div style="padding: 20px; color: gray; font-size: 12px; background-color:rgb(48, 48, 48);">
            <p>Estás recibiendo este mensaje de correo electrónico por haber hecho uso de los servicios de partygift, con base en la aceptación de los términos y condiciones de uso.</p>
            <p>Recuerda que partygift nunca te pedirá que envíes datos personales o confidenciales a través de correo electrónico. Puedes consultar nuestro aviso de privacidad en www.partygift.ws. Si tienes algún comentario, puedes contactarnos en support@partygift.ws</p>
            <p>Partygift y su logotipo son marcas registradas.</p>
        </div>
    </div>
</body>