<div style="border: 2px solid gray; width: 94%; margin: 28px auto; font-family: sans-serif;">
	<div style="border-bottom: 2px solid gray; padding: 16px;">
		<div style="padding-bottom: 21px; margin-bottom: 36px; border-bottom: 2px solid #c09;">
			<div style="width:38%; display: inline-block; line-height: 27px;">
				<span style="color:rgb(79, 79, 79); font-size:14px;">Notificaciones</span>
				<br>
				<span style="color: #c09; font-size:12px;">{{today()}}</span>
			</div>
			<div style="width:59%; display: inline-block;">
				<img src="{{app.request.getSchemeAndHttpHost() ~ asset('img/logo_small.jpg')}}" style="width:90%">
			</div>
		</div>
		<div>
			<span style="color:rgb(79, 79, 79); font-size:19px;">{% block subject %}{% endblock %}</span>
			<p style="text-align: center;font-size: 15px; color:rgb(79, 79, 79); margin-top: 62px;">
				{% block contenido %}{% endblock %}
			</p>
			<div style="font-size: 16px; color:rgb(79, 79, 79); font-style: italic; text-align: right; width: 100%; margin-top: 48px; margin-bottom: 43px;">El equipo de Party<span style="color: #c09;">G</span>ift</div>
		</div>
	</div>
	<div style="padding: 20px; color: gray; font-size: 12px; background-color:rgb(232, 232, 232);">
		<p>Estás recibiendo este mensaje de correo electrónico por haber hecho uso de los servicios de PartyGift, con base en la aceptación de los términos y condiciones de uso.</p>
		<p>Recuerda que PartyGift nunca te pedirá que envíes datos personales, de cuenta o financieros a través de correo electrónico. Puedes consultar nuestro aviso de privacidad en www.partygift.com. Si tienes aglún comentario o duda, ponemos a tu disposición el siguiente correo electrónico: atencion@partygift.com</p>
		<p>PartyGift y su logotipo son marcas registradas.</p>
	</div>
</div>