<!-- Modal de Quejas -->
	<div class="modal fade" id="Quejas" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content" style="border: rgba(204,0,153,0.7) 2px solid; padding:10px;">
	      <div class="modal-header">
	      	<div class="row">
	      		<div class="col-xs-5">
		        	<h4 class="modal-title rosa" id="myModalLabel" style="text-align:left">Dudas, quejas, preguntas o comentarios</h4>
	        	</div>
	        	<div class="col-xs-1">
					
	        	</div>
	        	<div class="col-xs-5">
					<img src="{{asset('img/nw.png')}}" width="100%">
	        	</div>
	        	<div class="col-xs-1">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        	</div>
	        </div>
	      </div>
	      
	      <div class="modal-body">
	      	<div class="row">
	      		
	      		<div class="col-xs-11" style="text-align:left;">
	      		Número de cuenta: <span class="rosa">2</span>
	      		<br>
	      		</div>

	      	</div>

	      	<div class="row">
	      		
	      		<div class="col-xs-11">

	      		<select class="input_small">
	      			<option>Asunto</option>
	      		</select>

	      		</div>

	      	</div>

	      	<div class="row">
	      		
	      		<div class="col-xs-11">
	      		<textarea style="height:250px;" class="textarea_small" placeholder="Mensaje"></textarea>
	      		</div>

	      	</div>
	      			
	      	<div class="row">
	      		
	      		<div class="col-xs-11">
	      		<input type="submit" id="enviar_form" placeholder="Enviar" style="float:right;">
	      		</div>


				<div class="col-xs-3">
					<div class="row" style="margin-top:0px;">
						<div class="col-xs-12">
							
						</div>
					</div>
				</div>
				
			</div>
	      </div>
	    </div>
	  </div>
	</div>
<!-- Fin de modal de Quejas -->