{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

	{% block body %}

	{% include ':plantillasParciales:top.html.twig' %}

	<div class="container">
		<div class="cuadro img-responsive" style="padding-top: 65px;">
			<br>

			{% for type, messages in app.session.flashbag.all() %}
			    {% for message in messages %}
			        <div class="flash-{{ type }}">
			            {{ message }}
			        </div>
			    {% endfor %}
			{% endfor %}

			<p style="font-size:14px; font-style:italic;" class="text-center">
			{{ 'resetting.check_email'|trans({'%email%': email}) }}
			</p>

			</div>
		</div>

{% endblock %}