{# src/NW/UserBundle/Resources/views/felicidades.html.twig #}

{% extends '::base.html.twig' %}

	{% block body %}
	
		{% include ':plantillasParciales:top.html.twig' %}

			<div class="container">
				<div class="cuadro img-responsive">
					<br>
					<img class="img-responsive proveedores" src="{{asset('img/felicidades.png')}}" />
					<br/><br/>
					<center>¡Tu registro se ha completado de manera satisfactoria!</center>
					<br/><br/>
					<center><a href="{{ url('nw_user_loginnovios') }}"><strong>Ingresa a tu cuenta</strong></a></center>
				</div>
			</div>

	{% endblock %}