{# src/NW/PrincipalBundle/Resources/views/Proveedores/miestadodecuenta.html.twig #}

{% extends 'NWPrincipalBundle:Proveedores:administrador.html.twig' %}

{% block partederecha %}
		
		<div class="container">
			<div class="row">
				<div class="col-xs-9">
					<p>Filtrar movimientos</p>
				</div>
				<div class="col-xs-3">
					<p class="verde">Exportar en PDF</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9">
					
				</div>
				<div class="col-xs-3">
					<p class="verde">Exportar en Excel</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9">
					
				</div>
				<div class="col-xs-3">
					<p class="verde">Obtener factura</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
			<div class="col-xs-4">
				<p>
					Productos / servicios vendidos: <br>
					Ventas del periodo: <br>
					Descuentos otorgados: <br>
					Comisiones pagadas a NW:  
					Cuotas pagadas del plan contratado: <br>  
					Total del periodo: <br>
					Saldo transferido en el periodo: <br> 
					Saldo remanente del periodo: <br> 
				</p>
			</div>
			<div class="col-xs-8 art">
				<p>
					$100,000.00 <br> 
					$2,000.00 <br> 
					$1,000.00 <br>  
					$87,000.00 <br>
					$50,000.00 <br> 
					$37,000.00 <br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<p>Costo del plan contratado: <span class="art">$$</span></p>
			</div>
			<div class="col-xs-2">
				<p>Plan: <span class="art">Plus</span></p>
			</div>
		</div>
			<div class="row">
				<div class="col-xs-10">
					<h4 class="art">Detalle de ventas</h4>
				</div>
				<div class="col-xs-2">
					<h4 class="art">
						<< 1 >>
					</h4>
				</div>
			</div>
			<hr />
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<p>
						Producto: <span class="art">Nombre del producto / servicio</span> <br>
						ID: <span class="art">ID del artículo</span> <br>
						Fecha de venta: <span class="art">dd/mm/ año</span> <br>
						Folio de compra: <span class="art">000000</span> <br>
						</p>
					</div>
					<div class="col-xs-3">
						<p>
							Monto: <br>
							Descuento: <br> 
							Comisión NW: <br>
							Total: <br>
						</p>
					</div>
					<div class="col-xs-5 art">
						<p>
							$100.00 <br>
							$2.00 <br>
							$3.00 <br>
							$95.00 <br>
						</p>
					</div>
					<br>
					<br>
					<div class="col-xs-4">
						<p>
						Comprador: <span class="art">Nombre del comprador</span> <br>
						Email: <span class="art">email del comprador</span> <br>
						Teléfono: <span class="art">teléfono del comprador</span> <br>
						Celular: <span class="art">Celular del comprador</span> <br>
						</p>
					</div>
					<div class="col-xs-3">
						<p>
							Comisión vendedor: <br>
							<br>
							Vendedor: <br>
							Código aplicado: <br>
						</p>
					</div>
					<div class="col-xs-4 art">
						<p>
							$100.00 <br>
							<br>
							12345 <br>
							AB5023 <br>
						</p>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong class="art">
							Aplica envío
						</strong>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-xs-4">
						<p>
						Producto: <span class="art">Nombre del producto / servicio</span> <br>
						ID: <span class="art">ID del artículo</span> <br>
						Fecha de venta: <span class="art">dd/mm/ año</span> <br>
						Folio de compra: <span class="art">000000</span> <br>
						</p>
					</div>
					<div class="col-xs-3">
						<p>
							Monto: <br>
							Descuento: <br> 
							Comisión NW: <br>
							Total: <br>
						</p>
					</div>
					<div class="col-xs-5 art">
						<p>
							$100.00 <br>
							$2.00 <br>
							$3.00 <br>
							$95.00 <br>
						</p>
					</div>
					<br>
					<br>
					<div class="col-xs-4">
						<p>
						Comprador: <span class="art">Nombre del comprador</span> <br>
						Email: <span class="art">email del comprador</span> <br>
						Teléfono: <span class="art">teléfono del comprador</span> <br>
						Celular: <span class="art">Celular del comprador</span> <br>
						</p>
					</div>
					<div class="col-xs-3">
						<p>
							Comisión vendedor: <br>
							<br>
							Vendedor: <br>
							Código aplicado: <br>
						</p>
					</div>
					<div class="col-xs-4 art">
						<p>
							$100.00 <br>
							<br>
							12345 <br>
							AB5023 <br>
						</p>
						<br>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<strong class="art">
							No aplica envío
						</strong>
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
					</div>
				</div>
			</div>












	{% endblock %}