{# src/NW/PrincipalBundle/Resources/views/Proveedores/misbanners.html.twig #}
{% extends 'NWPrincipalBundle:Novios:administrador.html.twig' %}

{% block partederecha %}

	<div class="row">
		<div class="col-xs-8"></div>
		<div class="col-xs-4" style="text-align:right;">
			<div class="punto-verde-bueno hacerTooltip" style="float:left; margin-right:20px; margin-top:2px;" data-toggle="tooltip" data-placement="left" title="Aquí podrás hacer compras para tu boda e incluso utilizar el saldo que tengas en tu mesa de regalos. No pierdas tiempo y busca las mejores promociones.">?</div>
			<h1 style="float:left;">Próximamente</h1>	
		</div>	
	</div>

{#
	{% include 'NWPrincipalBundle:Default:formBusquedaArticulos.html.twig' %}
	{% include 'NWPrincipalBundle:Default:carrito.html.twig' %}

	{% if resultados %}
		{% for item in resultados %}
			{% include 'NWPrincipalBundle:Default:itemResultado.html.twig' %}
		{% endfor %}
	{% endif %}
#}

{% endblock %}